/* Main Navigation */
.fx-navbar-main {
	position: relative;
	border-bottom: 1px solid #DDD;
	.fx-nav-options {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			float: left;
			margin-right: 10px;
			&:last-child { margin-right: 0; }
			a {
				font-size: 20px;
			    display: block;
			    padding: 25px 10px;
			    line-height: 30px;
			    text-align: center;
			    &:hover, &:active, &:focus {
			    	text-decoration: none;
			    }
			}
			&.account {
				padding-top: 15px;
				a {
					border: 1px solid #DDD;
					line-height: 5px;
					padding: 20px 25px;
					font-size: 13px;
				}
			}
		}
	}
	.fx-navbar-header .navbar-brand {
		height: auto;
	}
}

/* Sub Navigation */
.fx-navbar-sub {
	position: relative;
    min-height: inherit;
    .fx-nav-options {
		margin: 0;
	    padding: 10px;
	    list-style: none;
	    border: 1px solid #DDD;
	    li {
			display: inline-block;
			margin-right: 10px;
			&:last-child { margin-right: 0; }
			a {
				display: inline-block;
				padding: 10px 15px;
				width: 200px;
				border: 1px solid #DDD;
				&:hover, &:focus, &:active {
					text-decoration: none;
				}
			}
			&.dashboard a {
				width: 45px;
			}
			&.active a {
				background-color: #23527c;
				color: #FFF;
				border-color: #23527c;
			}
			&.locked a {
				background-color: #DDD;
				color: #FFF;
				cursor: not-allowed;
			}
		}
	}
}
