@import '_helper';
@import '_global';

@import '_common';
@import '_navigation';

/* Login */
.fx-login {
	position: relative;
	height: 100%;
	width: 100%;
	.left {
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		.content-wrapper {
			display:flex;
			justify-content:center;
			align-items:center;
			height: 100%;
			.content {
				padding: 15px;
				width: 85%;
				h2 {
					margin-top: 0;
				}
			}
		}
	}
	.right {
		background: #000;
		width: 50%;
		position: absolute;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		.content-wrapper {
			display:flex;
			justify-content:center;
			align-items:center;
			height: 100%;
			.content {
				padding: 15px;
				width: 85%;
				h2 {
					margin-top: 0;
					color: #FFF;
				}
				p, a {
					color: #FFF;
				}
				.form-control {
					height: auto;
					padding: 10px 12px;
				}
				button {
					width: 100%;
					margin-bottom: 10px;
				}
			}
		}
	}
}

/* Referral Program */
.fx-ref-links {
	margin-top: 30px;
	border: 1px solid #DDD;
	padding: 15px 30px 30px 30px;
	.fx-ref-title {
		text-align: center;
		h3 {
			font-weight: bold;
			margin-bottom: 5px;
		}
	}
	.box {
		border: 1px solid #DDD;
		padding: 15px;
		margin-top: 20px;
		.link {
			margin-top: 10px;
			border: 1px solid #DDD;
			padding: 15px;
			position: relative;
		}
		.btn {
			margin-top: 10px;
		}
	}
}

.fx-course-navigation {
	ul {
		/*list-style: none;*/
		margin: 0;
		padding: 0 0 0 15px;
		li {
			
		}
	}
}