@import '_helper';
@import '_global';

@import '_common';
@import '_navigation';

/* Login */
.fx-login {
	position: relative;
	.left {
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		.content-wrapper {
			display:flex;
			justify-content:center;
			align-items:center;
			height: 100%;
			.content {
				padding: 15px;
				width: 85%;
				h2 {
					margin-top: 0;
				}
			}
		}
	}
	.right {
		background: #000;
		width: 50%;
		position: absolute;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		.content-wrapper {
			display:flex;
			justify-content:center;
			align-items:center;
			height: 100%;
			.content {
				padding: 15px;
				width: 85%;
				h2 {
					margin-top: 0;
					color: #FFF;
				}
				p, a {
					color: #FFF;
				}
				.form-control {
					height: auto;
					padding: 10px 12px;
				}
				button {
					width: 100%;
					margin-bottom: 10px;
				}
			}
		}
	}
}

/* Referral Program */
.fx-ref-links {
	margin-top: 30px;
	border: 1px solid #DDD;
	padding: 15px 30px 30px 30px;
	.fx-ref-title {
		text-align: center;
		h3 {
			font-weight: bold;
			margin-bottom: 5px;
		}
	}
	.box {
		border: 1px solid #DDD;
		padding: 15px;
		margin-top: 20px;
		.link {
			margin-top: 10px;
			border: 1px solid #DDD;
			padding: 15px;
			position: relative;
		}
		.btn {
			margin-top: 10px;
		}
	}
}

/* Product - Coaching / Webinars */
.fx-coaching-tab {
	position: relative;
	.tab-pane {
		border-left: 1px solid #DDD;
		border-right: 1px solid #DDD;
		border-bottom: 1px solid #DDD;
		min-height: 500px;
	}
}

/* Marketing Funnels */
.fx-tabs-vertical {
	position: relative;
	.nav-tabs {
		float: left;
		border-bottom: 0;
		li {
			float: none;
			margin: 0;
			&:first-child a { border-top: 1px solid #DDD!important; }
			a {
				margin-right: 0;
				border-bottom: 1px solid #DDD!important;
				border-left: 1px solid #DDD!important;
				border-radius: 0;
			}
			&.active a {
				background-color: #23527c;
				color: #FFF;
			}
		}
	}
	.nav-tabs>li.active>a,
	.nav-tabs>li.active>a:hover,
	.nav-tabs>li.active>a:focus {
		border:0;
	}
	.tab-content {
		margin-left: 45px;
		.tab-pane {
			display: none;
			background-color: #FFF;
			padding: 20px;
			overflow-y: auto;
			border-top: 1px solid #DDD;
			border-right: 1px solid #DDD;
			border-bottom: 1px solid #DDD;
			min-height: 500px;
			border-left: 1px solid #DDD;
		}
		.active { display: block; }
	}
	.list-group {
		width: 100%;
		.list-group-item {
			height: 50px;
			h4, span {
				line-height: 11px;
			}
		}
	}
	.tab-profile {
		position: relative;
		.heading {
			position: relative;
			h3 {
				margin-top: 0;
			}
		}
		.social-media {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				float: left;
				width: 25%;
				padding-right: 10px;
				&:last-child { padding-right: 0; }
			}
		}
		.url-group {
			position: relative;
			&.one {
				input[type="text"] {
					width: 87.5%;
					float: left;
					margin-right: 5px;
				}
				.btn {
					width: 10%;
					float: left;
				}
			}
			&.two {
				input[type="text"] {
					width: 77%;
					float: left;
					margin-right: 5px;
				}
				.btn {
					width: 10%;
					float: left;
					margin-right: 5px;
				}
			}
		}
	}
}

